.header-container{
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-content{ 
    background-color: rosybrown;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
}
.logo{
    margin-top: 1%;
    margin-right:1%;

}
.logs{
    margin-left: 1%;
}