body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.header-container img{
    width: 60px;
    height: 60px;
}
.cityImages a img{ 
    width: 150px;
    height: 150px;
}
.cityImages img{
    width: 150px;
    height: 150px;
    padding: 4%;
    border-radius: 25%;
}
#socialIcons a img{
    width: 22px;
    height: 20px;
}
.header-container{
    background-color: rosybrown;
}
.banner-image{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.cityImages{
    margin-left: 15%;
    margin-right: 15%;

}
.footer-content{
    background-color: rosybrown;
}
