body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
.header-container{
    background-color: rosybrown;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.header-container img{
    width: 60px;
    height: 60px;
}
.limage{
    width: 150px;
    height: 150px;
}
#socialIcons a img{
    width: 22px;
    height: 20px;
}
#list>div{
    margin: 2%;
    width: 40%;
    background-color: rgb(132,136,139);
}
.footer-content{
    background-color: rosybrown;
}
